extends ../template.jade

block vars
  - var title = "reveal.js"
  - var subtitle = "A simple template"
  - var author = "Hans Georg Schaathun"
  - var institute = "NTNU, Noregs Teknisk-Naturvitskaplege Universitet"
  - var date = " Tue  3 Aug 11:40:24 UTC 2021 "
  - var talksroot = "https://github.com/hgeorgsch/reveal.js"

block slides

   section

      div.column

         h1 Example slide

         p.
           This is a slide with text

      div.column

         h1 A quote by Simon

         blockquote.
            The older kind of professional school did not know how to educate
            for professional design at an intellectual level appropriate to
            a university; the newer kind of school nearly abdicated responsibility
            for training in the core professional skill.
         p.credit Sciences of the Artificial 1996


   section

      div
         img(src="https://thumbs-prod.si-cdn.com/g2BFyvLepukZ0kuIz7A_KKHsVAc=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/a9/da/a9dabc78-549e-4c46-8996-2539578768c3/1280px-sophia_robot.jpg")

