
.credit {
   text-align: right ;
   font-size: 80% ;
   color: #6096d0 ;
   // font-style: italic ;
}
strong,
.alert,
.ntnupurple {
   color: #b01b81 ;
}
.ntnubeige {
   color: #cfb887 ;
}
.ntnultblue {
   color: #6096d0 ;
}
.ntnugreen {
   color: #bcd025 ;
}
.ntnuturquoise {
   color: #3cbfbe ;
}
.ntnuyellow {
   color: #f7d019 ;
}
em,
.ntnuviolet {
   color: #482776 ;
}
.ntnuorange {
   color: #ef8114 ;
}
.ntnublue {
   color: #00509e ;
}
.small {
   font-size: 80% ;
}

.reveal .slides section quotation {
   font-style: italic ;
}
.reveal .slides section blockquote {
   font-style: italic ;
   text-align: left ;
}
