extends template.jade

block vars
  - var title = "CHAOS - Computer Assisted Haptic Orthopaedic Surgery"
  - var author = "Hans Georg Schaathun"
  - var institute = "NTNU, Noregs Teknisk-Naturvitskaplege Universitet"
  - var date = "11 May 2020"
  - var talksroot = "http://kerckhoffs.schaathun.net/talks/chaos2020may/"
  - var talksroot = ""

block slides

   section
      h1 Ålesund Biomechanical Lab
      img(src="fig/aleksander.jpg",height="750px")
      p Ålesund Hospital & NTNU in Ålesund
   section
       h1 Robot with skeleton
       iframe(width="560" height="315" src="https://www.youtube.com/embed/gua-6TwGgtQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
   section
      h1 CHAOS Simulator
      img(src="fig/chaos.png")
   section
      h1 MR Imaging
      img(src="fig/mr.png")

   section
      h1 Segmentation
      img(src="fig/segment.png")
   section
      h1 Problem

      p.ntnupurple Surgery on the 3D Model

      ul
        li.fragment Soft Tissue Deformation (Continuous Changes/Differential Equations)
          ul
            li Muscle, Fat, etc.
        li.fragment Cutting and Tear (Topological Changes/Discrete Events)
          ul
            li Scalpel
        li.fragment Real-Time Interaction
          ul
            li Visualisation and Haptic Feedback
        li.fragment Interaction between Tissue Types 
        li.fragment Interaction with Rigid Bodies
          ul
            li Skeleton, including movement (bending of the knee)


